@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url(./media/brandon-vazquez-jdvpdAvDuB0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    header {
        font-family: "Black Ops One", cursive;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        text-align: center;

        h1 {
            color: aqua;
            text-align: center;
            padding-top: 20px;
            font-size: 30px;
        }

        .names {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            place-items: center;
            legend {
                color: aliceblue;
            }
            input {
                border: none;
                outline: none;
                padding: 10px;
                background-color: #fff;
                font-family: serif;
                backdrop-filter: blur(10px);
                text-align: center;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
        }

        #submit {
            font-family: "Black Ops One", cursive;
            border-radius: 10px;
            font-size: 15px;
            width: 150px;
        }
        .playagain {
            visibility: hidden;
        }

        .blocks {
            // border: 2px solid rgba(255, 255, 255, 0);
            margin: 50px auto;
            width: 350px;
            height: 350px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            justify-content: center;
            align-content: center;
            gap: 5px;
            visibility: hidden;

            .btn {
                width: 80px;
                height: 80px;
                margin: auto;
                border-radius: 0;
                cursor: pointer;
                color: #3c4fe0;
                font-size: 50px;
                border: none;
                border-radius: 50%;
                box-shadow:
                    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                    rgba(0, 0, 0, 0.06) 0px 2px 1px,
                    rgba(0, 0, 0, 0.09) 0px 4px 2px,
                    rgba(0, 0, 0, 0.09) 0px 8px 4px,
                    rgba(0, 0, 0, 0.09) 0px 16px 8px,
                    rgba(0, 0, 0, 0.09) 0px 32px 16px;

                font-family: "Black Ops One", cursive;
            }
        }
    }
}

//! -------------------------colors

.red {
    color: red;
}
.yellow {
    color: yellow;
}

//! -------------------------
//! the button styler
/* CSS */
#submit {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    text-align: center;
}

#submit:focus {
    box-shadow:
        #3c4fe0 0 0 0 1.5px inset,
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #3c4fe0 0 -3px 0 inset;
}

#submit:hover {
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#submit:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
