* {
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
    /* text-align: center; */
}

@media only screen and (max-width:1330px) {
    body{
        overflow-x: hidden;
    }
    .aboutone {
        /* border: 2px solid red; */
        padding-left: 20px;
        display: flex;
        align-items: center;
        /* text-align: center; */
        /* margin-left: auto;
        margin-right: auto; */
        width: 40%;
    }

    .abouttwo {
        /* border: 2px solid red; */
        /* margin-left: 40px; */
        text-align: center;
        width: 60%;
        margin-left: 30px;
        display: grid;
        /* align-items: center; */
        justify-content: center;
        /* padding: 10px; */
    }

    .imagedono {
        height: 400px;
        /* width: 110%; */
        /* zoom: -20%; */

    }

    .aboutborder {

        border: 2px solid rgb(0, 163, 139);
        height: 45vh;
        width: 75%;
        /* justify-content: center; */
    }

    .twopara {
        /* border: 1px solid yellow; */
        font-size: small;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .onepart {
        /* border: 1px solid red; */
        /* padding-top: 13vh; */
        margin-top: -40px;

        /* margin-bottom: -20vh; */

    }

    .people {

        margin-top: 50px;
        /* border: 3px solid red; */
        height: 50vh;
        display: grid;
        justify-content: center;
        /* text-align: center; */
        /* text-align: center; */
        grid-column-gap: 30px;
        grid-template-columns: 30% 30% 30%;
        margin: 50px;
    }

    .aboutname {
        font-size: 25px;
    }

    .onepara {
        font-size: 10px;
    }
}

@media only screen and (max-width:1160px) {
    .aboutone {
        /* border: 2px solid red; */
        padding-left: 20px;
        display: flex;
        align-items: center;
        /* text-align: center; */
        /* margin-left: auto;
        margin-right: auto; */
        width: 40%;
    }

    .people {

        margin-top: 50px;
        /* border: 3px solid red; */
        height: 50vh;
        display: grid;
        justify-content: center;
        /* text-align: center; */
        /* text-align: center; */
        grid-column-gap: 30px;
        grid-template-columns: 30% 30% 30%;
        margin: 50px;
    }

    .abouttwo {
        /* border: 2px solid red; */
        /* margin-left: 40px; */
        text-align: center;
        width: 60%;
        margin-left: 30px;
        display: grid;
        /* align-items: center; */
        justify-content: center;
        /* padding: 10px; */
    }

    .imagedono {
        height: 350px;
        /* width: 110%; */
        zoom: -20%;

    }

    .aboutborder {

        border: 2px solid rgb(0, 163, 139);
        height: 45vh;
        width: 70%;
        /* justify-content: center; */
    }

    .twopara {
        /* border: 1px solid yellow; */
        font-size: small;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .onepart {
        /* border: 1px solid red; */
        /* padding-top: 13vh; */
        margin-top: -50px;

        /* margin-bottom: -20vh; */

    }

    .paragraphfor {
        font-size: medium;
    }

    .onepara {
        font-size: 10px;
    }

    .info {
        font-size: 13px;
    }
}

@media only screen and (max-width:1022px) {
    .dropdown {
        display: inline;

    }

    .navtwo {
        display: none;
    }
}

/* 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 */
@media only screen and (max-width:1010px) {
    .aboutborder {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        display: flex;
        /* margin: 100px; */
        border: 2px solid rgb(0, 163, 139);
        height: 55vh;
        /* justify-content: center; */
    }

    .aboutone {
        /* border: 2px solid red; */
        padding-left: 20px;
        display: flex;
        align-items: center;
        /* text-align: center; */
        /* margin-left: auto;
    margin-right: auto; */
        width: 50%;
    }

    .aboutname {
        font-size: 30px;
    }

    .imagedono {
        width: 110%;
        height: 490px;
    }

    .abouttwo {
        /* border: 2px solid red; */
        /* margin-left: 40px; */
        text-align: center;
        width: 50%;
        display: grid;
        /* align-items: center; */
        justify-content: center;
        /* padding: 10px; */
    }

    .paragraphfor {
        font-size: small;
    }

    .onepara {
        font-size: 10px;
    }

    .map {
        width: 100%;
        /* background-color: gr; */
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        /* border: 3px dashed orange; */
    }

    .hmm {
        color: rgb(0, 163, 139);
        font-size: 40px;
        margin: 20px;

    }

    .dropdown {
        display: inline;

    }

    .navtwo {
        display: none;
    }

    .serviceparttwo {
        /* border: 6px solid red; */
        /* width: 200%; */
        height: 50vh;
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        width: 85%;
        grid-gap: 45px;
        grid-template-columns: 45% 45%;
        /* grid-template-columns: 100%; */
        /* border: 3px dashed blue; */
    }
}

/* 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

@media only screen and (max-width:900px) {
    .dropdown {
        display: inline;

    }

    .aboutborder {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        display: flex;
        /* margin: 100px; */
        border: 2px solid rgb(0, 163, 139);
        height: 50vh;
        /* justify-content: center; */
    }

    .imagedono {
        width: 110%;
        height: 400px;
    }

    .centercenter {
        width: auto;
        font-family: fantasy;
        text-align: center;
        font-size: 40px;
        letter-spacing: 0px;
        /* height: 20vh; */
        /* border: 3px solid pink; */
    }

    .center {
        /* border: 2px ridge blue; */
        height: 34.1vh;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        align-items: center;
        grid-gap: 10px;
        /* background-color: #fff; */
        animation-timing-function: 3s;

    }

    .centerone {
        width: 50px;
        height: 10vh;
        /* border: 3px 3px 3px 0px, solid pink; */
        border-left: 2px solid rgb(0, 163, 139);
        border-top: 2px solid rgb(0, 163, 139);
        border-bottom: 2px solid rgb(0, 163, 139);
    }

    .centerthree {
        width: 50px;
        height: 10vh;
        /* border: 3px 3px 3px 0px, solid pink; */
        border-right: 2px solid rgb(0, 163, 139);
        border-top: 2px solid rgb(0, 163, 139);
        border-bottom: 2px solid rgb(0, 163, 139);
    }

    .servicearea {
        margin-bottom: 30vh;
    }

    .serviceparttwo {
        /* border: 6px solid red; */
        /* width: 200%; */
        /* height: 60vh; */
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        width: 85%;
        grid-gap: 45px;
        grid-template-columns: 100%;
        /* grid-template-columns: 100%; */
        /* border: 3px dashed blue; */
    }

    .hmm {
        color: rgb(0, 163, 139);
        font-size: 60px;
        margin: 20px;

    }

    .paragraphfor {
        font-size: large;
    }

    .parttwoone {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 35% 35%;
        grid-gap: 50px;
        justify-content: center;
    }

    .people {

        margin-top: 50px;
        /* border: 3px solid red; */
        height: 50vh;
        display: grid;
        justify-content: center;
        /* text-align: center; */
        /* text-align: center; */
        grid-column-gap: 30px;
        grid-template-columns: 30% 30% 30%;
        margin: 50px;
    }
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:600px) {
    .header {
        /* border: 2px solid red; */
        height: 76vh;
    }

    .center {
        /* border: 2px ridge blue; */
        height: 30.15vh;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        align-items: center;
        grid-gap: 10px;
        /* background-color: #fff; */
        animation-timing-function: 3s;

    }

    .para {
        font-size: small;
        /* border: 1px solid red; */
        margin-top: -20px;
    }

    .centertwowala {
        /* border: 2px ridge blue; */
        height: 16vh;
        width: 65%;
    }

    .centerone {
        width: 20px;
        height: 5vh;
        /* border: 3px 3px 3px 0px, solid pink; */
        border-left: 2px solid rgb(0, 163, 139);
        border-top: 2px solid rgb(0, 163, 139);
        border-bottom: 2px solid rgb(0, 163, 139);
    }

    .centerthree {
        width: 20px;
        height: 5vh;
        /* border: 3px 3px 3px 0px, solid pink; */
        border-right: 2px solid rgb(0, 163, 139);
        border-top: 2px solid rgb(0, 163, 139);
        border-bottom: 2px solid rgb(0, 163, 139);
    }

    .centercenter {
        width: auto;
        /* font-family: fantasy; */
        text-align: center;
        font-size: 20px;
        letter-spacing: 0px;
        /* height: 20vh; */
        /* border: 3px solid pink; */
    }

    /* /////////////////////////////////////////////////////////////////////////////////////////////////// */
    .aboutus {
        /* border: 3px solid blue; */
        height: 80vh;
    }

    .aboutborder {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        display: grid;
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 100%;
        /* margin: 100px; */
        border: 2px solid rgb(0, 163, 139);
        height: 80vh;
        /* justify-content: center; */
    }

    .aboutus {
        /* border: 3px dotted red; */
        height: 100vh;

    }

    .imagedono {
        width: 100%;
        height: auto;
        position: relative;
        left: -10px;
        top: -20px;
        /* border: 2px solid red; */
    }

    .aboutone {
        /* border: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50vh;

    }

    .abouttwo {
        /* border: 2px solid red; */

        /* margin-left: 40px; */
        text-align: center;
        width: 100%;
        /* display: grid; */
        /* align-items: center; */
        /* justify-content: center; */
        /* padding: 10px; */
    }

    .aboutname {
        color: rgb(0, 163, 139);
        font-size: 20px;
        /* margin-top: -30px */
        letter-spacing: -2px;
        font-weight: bolder;
        /* height: 5vh; */
    }

    .onepart {
        /* border: 1px solid red; */
        /* margin-top: -30px; */
        /* border: 1px solid red; */
        width: 87.5%;
        height: 30vh;
        position: relative;
        left: -5px;
        top: -30px;
        /* font-size: 20px; */

    }

    .twopara {
        /* border: 1px solid yellow; */
        width: 500px;
        opacity: 70%;
        font-size: 10px;
        width: 100%;
        font-weight: bold;
    }

    /* ////////////////////////////////////////////////////////////////////////////////////// */
    .servicearea {
        /* margin-top: 200px; */
        /* border: 2px solid red; */
        height: 170vh;
        width: 100%;
    }

    .servicepartone {
        /* border: 1px solid red; */
        height: 20vh;
        text-align: center;
    }

    .servicepartone .aboutname {
        font-size: 20px;
        letter-spacing: normal;
    }

    .delete {
        letter-spacing: -2px;
    }

    .servepara {
        font-size: 10px;

    }

    .parttwoone {
        display: inline;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }

    /* ///////////////////////////////////////////////////////////////////////////////////////////// */
    .portpart a {
        display: block;
    }

    .gallery {
        /* border: 2px solid red; */
        display: block;
        width: 100%;
    }

    .twogallery {
        /* border: 3px solid red; */
        width: 100%;

    }

    .onegallery {
        width: 100%;
    }

    .loadmore {
        text-align: center;
        padding: 7px 40px;
        font-weight: bold;
        font-size: 20px;
        /* outline: none; */
        border: 2px solid rgb(0, 163, 139);
        background-color: white;
        color: rgb(0, 163, 139);
    }

    /* ////////////////////////////////////////////////////////////////////////////////////////////////// */
    .people {
        margin-top: 50px;
        /* border: 3px solid red; */
        height: auto;
        display: block;


    }

    .personone {

        height: 50vh;

    }

    .persontwo {

        height: 50vh;


    }

    .personone {

        height: 50vh;



    }

    .logoarea {

        grid-template-columns: 50% 50%;

    }

    /* //////////////////////////////////////////////////////////////////////
     */
    /* --------------------------------------------------------------------------FORM--------------------------------------------------------------------- */
    .form {
        /* border: 4px dotted orange; */
        height: 60vh;
        width: 80%;
        display: grid;
        grid-template-columns: 100%;


    }

    .formnames {
        width: 100%;
        height: 5vh;
        font-size: small;
        border: 2px ridge rgba(128, 128, 128, 0.247);
        outline: none;
        padding: 10px;
    }

    .inputnames {
        /* border: 2px solid rgba(128, 128, 128, 0.247); */
        width: 100%;
    }

    .address {
        /* background-color: rgba(128, 128, 128, 0.071); */
        /* border: 3px solid red; */
        height: auto;
        display: grid;

        width: 100%;

        grid-template-columns: 100%;

    }

    .infoparent {
        /* border: 2px dashed orange; */
        display: grid;
        /* gap: 60px; */
        column-gap: -20px;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

    .infoparenttwo {
        /* border: 2px dashed orange; */
        display: grid;
        /* gap: 60px; */
        column-gap: -20px;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

    .info {
        /* border: 2px dotted red; */
        height: 20vh;
        width: 100%;
        text-align: center;
        font-size: 10px;
    }

    .map {

        display: grid;
        grid-template-columns: 100%;

    }

    .namefoot {
        /* border: 3px solid red; */
        height: 20vh;
        display: grid;
        grid-template-columns: 10% 10%;
        grid-template-rows: 5vh 5vh;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: rgb(0, 163, 139);
        margin-top: -150px;
        /* text-align: center; */
        justify-content: center;
    }

    .end {
        color: white;
        display: grid;
        font-size: 15px;
    }

    /* ///////////////////////////////////////////////////// */
    .dropdown {
        /* display: i; */
        height: 10vh;
        /* width: 50%; */
    }
}

@media only screen and (max-width:400px) {
    .portfolio {
        margin-top: 150px;
    }
}
