* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 0, 44);
    color: white;
}

.head {
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 10%;
    background: url("/0main.jpg") no-repeat center center/cover;

}



.cont {
    height: 50vh;
    margin: 20px 0px;
}

.contentfirst {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    margin: 20px 90px;
    background-color: rgb(43, 15, 68);
    border-radius: 10%;

}

.explain {
    width: 50%;
    font-size: 1.1rem;
    text-align: justify;
    transition: all 1s ease;
}

.explain:hover {

    transform: scale(1.2);
}


.img img {
    width: 30em;
    border-radius: 10%;
    box-shadow: 5px 5px 5px black;
    transition: all 1s ease;
}

.img img:hover {

    transform: scale(1.2);
}

/* utility classes  */
.font3rem {
    font-size: 3rem;
}

.font2p1rem {
    font-size: 2.1rem;
}

@media screen and (max-width : 766px) {
    body {}

    .contentfirst {
        flex-direction: column;
        padding: 10em 0em;
        height: 60vh;
      width: 90vw;
        margin: 50px 5px;
    }

    .explain {
        font-size: 0.7rem;
        width: 40em;
        margin: 0px 5px;
        padding: 0px 5em;
    }

    .img img {
        width: 13em;
    }

    .font3rem {
        font-size: 1.5rem;
    }

    .font2p1rem {
        font-size: 1rem;
    }
}