@media only screen and (max-width:1370px) {
    .services {
        width: 100%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        row-gap: 30px;

    }

    .servicelinks {
        width: 350px;
    }

    .srvcnames {
        margin-left: 25px;
        font-size: 25px;
    }

    .serviceinfo {
        margin-left: 25px;
        font-size: 18px;
    }
}

@media only screen and (max-width:1200px) {


    .servicepara {
        margin-top: 30px;
        font-size: 17px;

    }
}

@media only screen and (max-width:1070px) {
    .servicelinks {
        width: 300px;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 22px;
    }

    .serviceinfo {
        margin-left: 15px;
        font-size: 17px;
    }

    .servicepara {
        margin-top: 25px;
        font-size: 15px;
    }
}

@media only screen and (max-width:960px) {
    .heading {
        font-size: 70px;
        line-height: 80px;
    }

    .based {
        color: white;
        font-size: 20px;
    }

    .button1,
    .button2 {
        font-size: 14px;
        padding: 1em 3em;
    }

    .serviceheader {
        font-size: 40px;
        text-align: center;
    }

    .servicepara {
        margin-top: 25px;
        font-size: 15px;
        width: 60%;
    }


}





@media only screen and (max-width:920px) {
    .line {
        font-size: 15px;
        margin-left: -30px;
    }

    .names a {
        line-height: 80px;
        font-size: 30px;

    }

    .contacttwo {
        margin-top: 80px;
    }

    .services {
        width: 100%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        row-gap: 30px;

    }

    .servicelinks {
        width: 270px;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 19px;
    }

    .serviceinfo {
        margin-left: 15px;
        font-size: 15px;
    }
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





@media only screen and (max-width:820px) {
    .services {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 30px;

    }

    .servicelinks {
        width: 360px;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 25px;
    }

    .serviceinfo {
        margin-left: 15px;
        font-size: 20px;
    }

    .heading {
        font-size: 50px;
        line-height: 80px;
    }

    .based {
        color: white;
        font-size: 15px;
    }

    .button1,
    .button2 {
        font-size: 14px;
        padding: 1em 3em;
    }
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width:760px) {
    .line {
        font-size: 10px;
    }

    .navbar {

        /* border: 2px dotted red; */
        display: grid;
        grid-template-columns: auto auto;
        /* align-items: center; */
    }

    .footer {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .footonepart {
        /* border: 3px solid rebeccapurple; */
        margin-left: 0px;
    }

    .foottwopart {
        /* border: 3px solid rebeccapurple; */
        margin-top: 40px;
        margin-right: 0px;
    }

    .footonepart {
        text-align: center;
    }



    .servicelinks {
        width: 300px;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 22px;
    }

    .serviceinfo {
        margin-left: 15px;
        font-size: 17px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:693px) {
    .lists {
        /* border: 1px solid red; */
        height: auto;
        display: grid;
        grid-template-columns: 100%;

    }

    .listtwowali {
        display: none;
    }

    .line {
        display: none;
    }

    .names {
        text-align: center;
        margin-left: 0px;
    }

    .navbartwo {

        display: grid;


        justify-content: end;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:610px) {
    .services {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;

    }

    .serviceheader {
        font-size: 30px;
    }

    .servicepara {
        width: 80%;
    }

    .servicelinks {
        padding: 1em;
        width: 360px;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 25px;
    }

    .serviceinfo {
        font-size: 20px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:523px) {
    .navbar {
        display: none;
    }

    .headpart {
        height: 100vh;
    }

    header {

        background-image: radial-gradient(circle, darkred, rgb(9, 11, 29));
        border: 8px solid transparent;
        height: 100vh;
    }

    .navigation {
        margin-top: 5vh;
        height: 15vh;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        /* border: 2px dotted red; */
        display: grid;
        grid-template-columns: 100%;
        /* align-items: center; */
        justify-content: center;


    }

    .logotwo {
        /* text-align: center; */
        /* border: 1px solid orange; */
        width: 40%;
        margin-left: 10px;
    }

    .parttwowala {
        /* border: 2px dashed yellow; */
        width: auto;
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        border-radius: 30px;
        top: 85%;
        /* left: 16px; */
        right: -60px;
        padding: 1px 15px;
        background-color: white;
        box-shadow: rgba(220, 20, 60, 0.12) 0px 2px 4px 0px, rgba(220, 20, 60, 0.32) 0px 2px 16px 0px;
    }

    .pagehome {

        text-decoration: none;
        color: black;

    }

    .descript {
        /* border: 2px dashed darkgoldenrod; */
        height: auto;
        text-align: left;
        /* margin-top: 3px; */
        margin-left: 20px;
    }

    .break {
        display: none;
    }

    .botons {
        /* border: 2px solid red; */
        height: auto;
        margin-top: 8vh;
        margin-left: 8px;
        text-align: left;

    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width:450px) {
    header {
        height: 100vh;
    }

    .descript {
        margin-top: -10px;
    }

    .based {
        color: white;
        font-size: 25px;
        word-spacing: -3px;
    }

    .scrol {
        /* border: 1px solid red; */

        height: auto;
        color: aliceblue;
        display: block;
        padding: 1em;
        font-size: 20px;

    }



    .material-symbols-outlined {


        transition: all 0.2s ease;
        animation: infinite;
        animation-name: example;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: linear;
        animation-direction: reverse;
        animation-iteration-count: infinite;
        /* animation-delay: 2s; */
        animation-fill-mode: forward
    }

    @keyframes example {
        0% {
            margin-top: 15px;

            /* color: red; */
        }

        100% {
            margin-top: -2px;

            /* color: blue; */
        }
    }

    .botons {
        display: none;
    }

    .arrow {
        color: white;
    }

    .heading {
        font-size: 60px;
        line-height: 90px;
    }

    .services {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;

    }

    .servicehead {
        margin-left: 13px;
    }

    .serviceheader {
        font-size: 30px;
        text-align: left;

    }

    .servicepara {
        width: 100%;
        text-align: left;
        width: 90%;
        /* margin-left: -2px; */
    }

    .servicelinks {
        padding: 1em;
        width: 300px;
        height: 15vh;
    }

    .servicelinks:active {
        background-color: crimson;
        transition: all 0.1s ease;
    }

    .srvcnames {
        margin-left: 15px;
        font-size: 25px;
    }

    .serviceinfo {
        font-size: 15px;
    }

    .botun {
        width: 100%;
        margin-top: 10vh;
        /* border: 1px solid red; */
        text-align: center;

    }

    .buttonone:active {
        background-color: black;
        transition: all 0.2s ease;
        color: white;
    }

    .buttonone {
        padding: 0.5em 2em;
        border: 2px solid black;
        /* paddi-top: 10px; */
        margin: 10px;
        color: white;
        font-size: 17px;
        transform: skew(20deg);
        text-decoration: none;
        background-color: black;
    }
}