* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.2s ease;
}

html {
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
}

/* /////////////////////////////////////////////////////HEADER/////////////////////////////////////////////////////////////////////////////////////////// */
header {
    /* background-color: #104c91; */
    background-image: radial-gradient(circle, darkred, rgb(9, 11, 29));
    border: 8px solid white;
    height: 98vh;
    /* color: ; */
}


.navbar {
    margin-top: 5vh;
    height: 15vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px dotted red; */
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    justify-content: space-between;
    position: sticky;
    top: 0px;

}



.navigation {

    display: none;


}

.navbartwo {
    margin-top: 5vh;
    height: 15vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px dotted red; */
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    justify-content: space-between;
    position: sticky;
    top: 0px;

}

.partone {
    /* border: 2px dashed yellow; */
    height: 13vh;
    width: auto;
    margin-left: 80px;
    color: white;
    display: flex;
    align-items: center;

}

.barnav {
    display: none;
}

.logo {
    /* border: 1px solid red; */
    width: 150px;

}

.photo {
    margin-top: -3px;
}

.parttwo {
    /* border: 2px dashed yellow; */
    height: 10vh;
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 70px;
    position: sticky;
    top: 10px;
    padding-top: 13px;
}

.parttwowala {
    /* border: 2px dashed yellow; */
    height: 10vh;
    width: 200px;
    display: none;
    justify-content: right;
    align-items: center;
    margin-right: 70px;
    position: sticky;
    top: 10px;
    padding-top: 13px;
}

.para {
    width: 50px;
    font-size: large;
    margin: 5px;
    /* border: 0.5px dashed red; */

}

.parag a {
    font-size: 20px;
    color: white;
}



.name {
    position: relative;
    top: -17px;
}

.tonew {

    overflow: hidden;
}

.pagehome {
    color: white;
}

/* //////////////////////////////////////////////////HOVER/////////////////////////////////////////////////////////////////////// */
.para:hover {
    opacity: 0.7;

}

.pagehome:hover {
    opacity: 0.5;
}

.foottwopart a:hover {

    opacity: 1;
}

.buttonone:hover {
    color: black;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid black;
}

.button1:hover {
    border: 2px solid white;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.button2:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.contactlink:hover {
    opacity: 0.5;
}

.names a:hover {
    opacity: 0.5;
    margin-left: 15px;

}

/* ////////////////////////////////////////////////////////CENTER DESCRIOYOPM///////////////////////////////////////////////////// */
.descript {
    /* border: 2px dashed darkgoldenrod; */
    height: auto;
    text-align: center;
    margin-top: 100px;
}

.smal {
    opacity: 0.5;
    color: rgb(255, 253, 253);
    font-weight: bold;
    font-size: 20px;
}

.heading {
    padding-top: 15px;
    color: white;
    font-size: 80px;
    line-height: 90px;
}

.based {
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
}

.des {
    color: rgb(50, 180, 231);
}

.dest {
    color: crimson;

}

.botons {
    /* border: 2px solid red; */
    height: auto;
    margin-top: 8vh;
    text-align: center;

}

.button1 {
    padding: 1em 3.5em;
    border: 2px solid rgb(50, 180, 231);
    /* paddi-top: 10px; */
    margin: 10px;
    color: white;
    font-size: 17px;
    transform: skew(20deg);
    text-decoration: none;
    background-color: rgb(50, 180, 231);
}

.button2 {
    padding: 1em 3.5em;
    border: 2px solid white;
    /* paddi-top: 10px; */
    margin: 10px;
    color: white;
    font-size: 17px;
    transform: skew(20deg);
    text-decoration: none;
}

.botun {
    margin-top: 10vh;
    /* border: 1px solid red; */
    text-align: center;
}

.buttonone {
    padding: 0.6em 2.5em;
    font-size: 22px;
    color: white;
    transform: skew(20deg);
    text-decoration: none;
    background-color: black;
}

.scrol {
    display: none;
}

/* //////////////////////////////////////ssssssssssssssssssssssssssssssssssssssssssssssssssssss/////////////////////////////////////////////////////// */
/* ///////////////////////////////////// */



.serviceheader {
    font-size: 45px;
    text-align: center;
}

.servicepara {
    margin-top: 30px;
    font-size: 18px;
    opacity: 0.8;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: lighter;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    /* border: 1px double red; */
    width: 40%;
}

.services {
    margin-top: 100px;
    /* border: 3px solid coral; */
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.servicelinks {
    /* border: 2px solid green; */
    background-color: rgba(128, 128, 128, 0.11);
    width: 350px;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: rgb(37, 37, 37);

}

.srvcnames {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}



.serviceinfo {
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.servicelinks:hover {
    background-color: crimson;
    color: white;
    transition: 0.5s ease-in-out;
    transition-property: background-color;

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* WORK */

.findwork {
    margin-top: 13vh;
    width: 90%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;

}

.dirty {

    padding: 2em 0px;
    background-color: rgba(128, 128, 128, 0.089);
}

.works {
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: rgb(50, 180, 231);
    width: 80%;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.worktwo {
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: crimson;
    width: 80%;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.works h6,
.worktwo h6 {
    margin-top: 12vh;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 1em;
}

.works h2,
.worktwo h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}

.worknames {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
    /* border: 2px dashed yellow; */
    width: 80%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.butonon {

    padding: 0.5em 2em;
    border: 2px solid black;
    /* paddi-top: 10px; */
    color: white;
    font-size: 17px;
    text-decoration: none;
    background-color: black;
}

.butonon:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

.portfolio {
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.089);
    height: auto;
    margin-top: 10vh;
}



.firstheading {
    padding-top: 10vh;
    padding-bottom: 4vh;
    text-align: center;
    display: flex;

    /* border: 1px solid red; */
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    font-style: bold;
    justify-content: center
}

.portinfo .head1 {
    /* border: 1px solid red; */
    width: 60%;
    opacity: 0.85;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.portinfo .para134 {
    /* border: 1px solid red; */
    width: 40%;
    opacity: 0.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.widthwali {

    width: 70%;
}

.app {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    gap: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
    border-radius: 120px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 10vh;
}

.app1 {

    /* border: 2px solid red; */
    text-align: center;
    height: auto;
    /* background-color: crimson; */


}

.app1 h1 {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 50px;
    text-align: left;
    color: white;
}

.app1 p {
    color: white;
    opacity: 0.7;
    padding-left: 5em;
    text-align: left;
    width: 75%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.app2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    background-image: url(https://preview.uideck.com/items/spark/assets/images/hero/hero-image.png);
}

.app2 {
    /* border: 2px solid red; */
    text-align: center;
    height: 70vh;

    /* background-color: crimson; */

}

.reviews {
    margin-top: 6vh;
    /* border: 3px dashed orange; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    column-gap: 30px;
}

.review1 .nameicon {
    color: rgb(255, 230, 0);
    font-size: 25px;

}

.newone {
    display: none;
}

.review1 {
    padding-top: 1.5em;
    padding-left: 1em;
    height: 300px;
    /* border: 3px solid crimson; */
    font-size: 30px;
    background-color: rgb(187, 0, 37);
    color: white;
    border-top: 5px inset rgba(139, 0, 0, 0.459);
    border-left: 5px inset rgba(139, 0, 0, 0.507);

    border-bottom-right-radius: 30%;
    /* border-bottom-left-radius: 30%; */
    box-shadow:
        16px 16px 26px rgba(0, 0, 0, 0.83);
}

.rate {
    font-size: 15px;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////SERVICES/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.stickybar {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;

    background-color: rgba(128, 128, 128, 0.171);
    /* position: absolute; */


}

.stickybar a {
    color: black;
    margin: 30px;

    border: 2px solid black;

    padding: 10px 15px;
    font-size: 20px;

}

.stickybar a:hover {
    color: crimson;
    background-color: black;
    color: white;
}

.sma {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.servicesarea {
    margin-top: -9px;
    border: 5px solid orange;
    height: 300vh;



}























/* ///////////////////////// */
.footarea {
    background-color: black;

    color: aliceblue;
    text-align: center;
    padding-top: 3em;
}






























































































































































































































































/* //////////////////////////////////////ssssssssssssssssssssssssssssssssssssssssssssssssssssss/////////////////////////////////////////////////////// */
/* //////////////////////////////////////ssssssssssssssssssssssssssssssssssssssssssssssssssssss/////////////////////////////////////////////////////// */

/* MENU PAGE */

/* //////////////////////////////////////ssssssssssssssssssssssssssssssssssssssssssssssssssssss/////////////////////////////////////////////////////// */
/* //////////////////////////////////////ssssssssssssssssssssssssssssssssssssssssssssssssssssss/////////////////////////////////////////////////////// */
.line {
    text-decoration: none;
    background-color: rgb(50, 180, 231);
    color: white;
    padding: 15px 20px;
    margin-left: -30px;
    border-radius: 25px;
    font-size: 20px;

}

.lo {
    width: auto;


}

.fa-solid {
    color: white;
    font-size: 35px;
    margin-left: 10px;

}

.lists {
    /* border: 1px solid red; */
    height: auto;
    display: grid;
    grid-template-columns: 40% auto;
    gap: 60px;
}

.listone {
    /* border: 3px solid yellowgreen; */
    /* text-align: center; */
    /* margin-left: 50px; */
}

ul {
    margin-left: 80px;

}

.names a {
    line-height: 100px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    transform: scale(1);
}



h3 {
    color: white;
    opacity: 0.5;
    font-size: 20px;
    margin: 30px;
}

.contactlink {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 25px;
}

.contacttwo {
    margin-top: 170px;
}

.footer {
    /* border: 2px solid red; */
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}

.shop {
    color: palegreen;
    font-size: 20px;
}

.footonepart {
    /* border: 3px solid rebeccapurple; */
    margin-left: 70px;
}

.foottwopart {
    /* border: 3px solid rebeccapurple; */
    margin-right: 50px;
}

.foottwopart a {
    /* border: 3px solid rebeccapurple; */
    text-decoration: none;
    color: white;
    opacity: 0.5;

}