a{ 
    margin: 30px;
    text-decoration: none;
    color: rgb(255, 94, 0);
    font-family: arial black;
    font-size: 23px;
    
}
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  a:hover {
    color: rgb(255, 255, 255);
    background-color: tomato;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
  }
  
  a:active {
    background-color: transparent;
    text-decoration: none;
  }
h1{
    font-size: 40px;
}
table{
    width: 100%;
}
table,tr,td,th{
    border: 2px;
    border: solid whitesmoke;
    text-align: center ;
    border-style: solid;
}
tr,td,th{
    padding: 10px 12px 10px 12px;
    border-color: rgb(219, 219, 219);
}