 @media only screen and (max-width: 500px) {
     :root {
         --primary: #fff;
         --bg-color: rgb(5, 53, 61);
         --bg-envelope-color: #f5edd1;
         --envelope-tab: #ff2121;
         --envelope-cover: #d10000;
         --shadow-color: rgba(0, 0, 0, 0.2);
         --txt-color: #444;
         --heart-color: rgb(252, 8, 231);
     }

     body {
         margin: 0;
         padding: 0;
         height: 100vh;
         width: 100%;
         box-sizing: border-box;
         background-image: linear-gradient(to bottom right, #d90429, #03045e);
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: impact;
     }

     .container {
         height: 100vh;
         display: grid;
         place-items: center;
     }

     .container>.envelope-wrapper {
         background: #d10000;
         box-shadow: 0 0 40px var(--shadow-color);
     }

     .envelope-wrapper>.envelope {
         position: relative;
         width: 300px;
         height: 230px;
         /* background-color: #fff; */
     }

     .envelope-wrapper>.envelope::before {
         content: "";
         position: absolute;
         top: 0;
         left: -1px;
         z-index: 2;
         border-top: 130px solid var(--envelope-tab);
         border-right: 150px solid transparent;
         border-left: 150px solid transparent;
         transform-origin: top;
         transition: all 0.5s ease-in-out 0.7s;

     }

     .envelope-wrapper>.envelope::after {
         content: "";
         position: absolute;
         left: -1px;
         z-index: 2;
         width: 0px;
         height: 0px;
         border-top: 130px solid transparent;
         border-right: 150px solid var(--envelope-cover);
         border-bottom: 100px solid var(--envelope-cover);
         border-left: 150px solid var(--envelope-cover);
         /* border: 2px solid red; */
     }

     .envelope-wrapper {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }

     .envelope>.letter {
         position: absolute;
         right: 20%;
         bottom: 0;
         width: 54%;
         height: 60%;
         background: #ffeeee;
         text-align: center;
         transition: all 1s ease-in-out;
         box-shadow: 0 0 5px var(--shadow-color) inset;
         padding: 20px 10px;

     }

     .envelope>.letter>.text {

         color: var(--txt-color);
         text-align: left;
         font-size: 10px;
     }

     .heart {
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: 4;
         transform: translate(-50%, -50%);
         transition: transform 0.5s ease-in-out 1s;

         cursor: pointer;
         margin-top: 10px;
         margin-left: -2px;
     }

     .fa-solid {
         color: yellow;
     }

     .flap>.envelope:before {
         transform: rotateX(180deg);
         z-index: 0;
     }

     .flap>.envelope>.letter {
         bottom: 100px;
         transform: scale(1.5);
         transition-delay: 1s;
     }

     .flap>.heart {
         /* transform: ; */
         transition-delay: 0.4s;
     }

     .letterheader {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         /* background-image: linear-gradient(to bottom right, #d90429, #03045e); */
         width: 99%;

     }
 }